<div *ngIf="patient">
  <h2>{{patient.name | uppercase}} Details</h2>
  <div><span>id: </span>{{patient.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="patient.name" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>age:
      <input [(ngModel)]="patient.age" placeholder="age"/>
    </label>
  </div>
  <div>
  <label>mobile:
    <input [(ngModel)]="patient.mobile" placeholder="mobile"/>
  </label>
  </div>
  <div>
  <label>description:
  <textarea [(ngModel)]="patient.description" placeholder="description" rows="30" cols="12"></textarea>
  </label>
  </div>

  <button (click)="goBack()">go back</button>

</div>


