<h1 style="margin-top: 25px; margin-bottom: 25px">My patients</h1>

<div *ngIf="!showPatient" class="alert">
  Patient not found
</div>

<div *ngIf="patient">

  <h2 style="margin-top: 20px">{{patient.name}}'s Details</h2>

  <div>
    <table>
      <tr>
        <td style="width: 15%">id: </td>
        <td>{{patient.id}}</td>
      </tr>
      <tr>
        <td><label>name:</label></td>
        <td><input value="{{patient.name}}" placeholder="{{patient.name}}"/></td>
      </tr>
      <tr>
        <td><label>age:</label></td>
        <td><input value="{{patient.age}}" placeholder="{{patient.age}}"/></td>
      </tr>
      <tr>
        <td><label>mobile:</label></td>
        <td><input value="{{patient.phone}}" placeholder="{{patient.phone}}"/></td>
      </tr>
      <tr>
        <td><label>notes:</label></td>
        <td><textarea placeholder="Enter details" rows="10" cols="30">{{patient.description}}
          </textarea></td>
      </tr>
    </table>
  </div>
</div>
<button style="margin-bottom: 50px" (click)="goBack()">Back to list</button>
<button (click)="removePatient(patient.id)" *ngIf="showPatient">Remove Patient</button>



