
h1 {
  font-family: "trebuchet MS";
  font-size: 1.5em;
  color: rgb(116,170,194);
  margin-bottom: 0;
}
input {
  margin-top: 7px;
}
h3 {
  font-family: "trebuchet MS";
  margin-top: 6px;
  text-align: center;
  vertical-align: middle;
  font-style: italic;
  color: rgb(50, 161, 78);
}
h2 {
  font-family: "trebuchet MS";
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
.patients {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.patients li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.patients li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.patients a {
  font-family: "trebuchet MS";
  color: rgb(50, 161, 78);
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.patients a:hover {
  color:#607D8B;
}

.patients .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

input {
  font-family: "trebuchet MS";
  height: 1.6em;
  font-size: 1em;
  /*padding-left: .4em;*/
}

button {
  font-family: "trebuchet MS";
  background-color: #eee;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}