<div>
  <table style="width:100%">
    <tr>
      <th style="float: left"><h1>{{title}}</h1></th>
      <th style="float: right" *ngIf="_loggedUser"><h1>Welcome Dr. {{doctor.name}}</h1></th> 
    </tr>
  </table>
</div>

<div *ngIf="_loggedUser">
  <nav>
      <a routerLink = "/home">Home</a>
      <a routerLink = "/patients">Patients</a>
      <a routerLink = "/navigate">Details</a>
      <a style="float:right" routerLink = "" (click)="logOut()">Log Out</a>
  </nav>
  <table style="width:100%; height: 100%">
    <td style="width:15%; /*background-color: #679ab675*/"></td>
    <td><router-outlet></router-outlet></td>
    <td style="width:15%; /*background-color: #679ab675*/"></td>
  </table>
  
</div>

<div *ngIf="!_loggedUser && !_registering">
  <app-loginform></app-loginform>
</div>

<div *ngIf="!_loggedUser && _registering">
  <app-register></app-register>
</div>


