/* You can add global styles to this file, and also import other style files */
.footer {
    font-family: "trebuchet MS";
    font-size: 0.8em;
    color: rgb(116,170,194);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
 }