<h1 style="margin-top: 25px; margin-bottom: 25px">Settings</h1>

<h2>{{doctor.name}}'s Details</h2>

<div>
  <table>
    <tr>
      <td style="width: 15%"><label>name:</label></td>
      <td>{{doctor.name}}</td>
    </tr>
    <tr>
      <td><label>e-mail:</label></td>
      <td>{{doctor.email}}</td>
    </tr>
    <tr>
      <td><label>phone:</label></td>
      <td>{{doctor.phone}}</td>
    </tr>
    <tr>
      <td><label>specialty:</label></td>
      <td>{{doctor.specialty}}</td>
    </tr>
   </table>  
</div>
